
* {
    font-family: 'Poppins', sans-serif !important;

}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root {
 --blue-color : #4B70F5;
 --bg-blue : #4B70F5;

 --grey-color : #EAEAEA;
}

.blue-color{
 color: var(--blue-color); 
}

.bg-blue{
  background-color: var(--bg-blue);
}

.bg-grey{
  background-color: var(--grey-color);

}


.vh-100 {
    height: 100vh;
}


@keyframes float {
    0% {
      transform: translate(-20%, -30%);
    }
    50% {
      transform: translate(-20%, -35%);
    }
    100% {
      transform: translate(-20%, -30%);
    }
  }


